/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .main_menu ul {
        display: none;
        background-color: #3797bf;
        position: absolute;
        width: 100%;
        margin-top: 7px;
    }
    
    .sell_button .button {
        margin: 15px auto;
        float: none;
        max-width: 193px;
    }
    
    .sell_descr {
        text-align: center;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .top_links {
		background-color: #585d60;
		display: none;
		margin-top: 15px;
		padding: 14px;
		position: absolute;
		vertical-align: middle;
		width: 100%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .main_menu ul li {
        display: block;
        text-align: center;
    }
    
.next_button,
.prev_button {
    font-size: 28px;
    top: 42%;
    padding: 0 15.5px 1.5px 15.5px;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .top_links {
        display: inline-block !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .main_menu ul {
        display: block !important;
    }
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}